.hide{
    display: none;
}

.centre-section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.button{
    display: block;
   margin-left: auto;
   margin-right: auto;
}

ul {
    text-decoration: none;
}